/* font-style */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

/* universal styles */
body{
    
    font-family: "Inter", sans-serif;
    background-color:black;
    color: white;
    width: 100%;
}

.btn-primary .btn-1, .btn-2, .btn{
    padding: 1rem 2.5rem 1rem 2.5rem;
    border-radius: 3rem;
    border: none;
    margin: 0 0.9rem;
    color: white;
}


/* navbar styles */
.navbar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 80%;
    margin: 0 auto;
    margin-top: 3.5rem;
}

.brand-title{
    color: rgb(230, 83, 60);
    font-weight: 800;
    font-size: 2.3rem;
}

.navbar-menus{
    display: flex;
    text-align:left ;
    width: 40%;
    gap: 5rem;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius:2.5rem;
    padding: 0.3rem;
    font-size: 1.125rem;
    font-weight: 400;
    cursor: pointer;
    /* border: 1px solid red; */
   
}
#option-1{
    background-color: rgb(230, 83, 60);
    border-radius:2.5rem ;
    padding: 1.3rem 1.7rem 1.3rem 1.7rem;
    font-weight: 600;
}

.nav-hamburger{
    display: none;
    /* color: white; */
}

/* banner section styles */

.banner-section{
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 80%;
    margin: 0 auto;
    margin-bottom: 8rem;
    /* border: 5px solid  red; */
    
}
.banner-section-container{
    width: 60%;
    /* border: 2px solid green; */
}


.banner-title{
    font-weight: 900;
    font-size: 5rem;
}

#span{
    font-family: "Dancing Script", cursive;
    font-weight: 500;
    font-size: 6rem;
    color:rgba(255, 255, 255, 0.5);
}

.banner-description{
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 3rem;
}

.btn-primary .btn-1{
    background-color: rgb(230, 83, 60);

}

 .btn-primary .btn-2{
    background-color: black;
    color: white;
    box-sizing:border-box ;
    border: 1px solid white ;
   
}

/* banner styles ends here */

/* change styles start here */

.section-change-container{
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.section-change-title{
    font-size: 3.5rem;
    font-weight: 900;
}

.section-change-subtitle{
    font-size: 1,125rem;
    font-weight: 600;
}

.section-change-description{
    font-size: 0.9rem;
    font-weight: 400;
    color:rgba(255, 255, 255, 0.5) ; 
    margin-bottom: 4rem;
}


.section-change-img-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.images-section-2{
    border-radius: 6rem;
}

/* change styles ends here */

/*run styles starts here */
.section-run-container{
    background-color:rgb(34,34,34);
    border-radius: 1.125rem;
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3.4rem;
    
}

.section-run-title{
    font-size: 3.5rem;
    font-weight: 900;
}

.section-run-description{
    font-size:0.9rem;
    font-weight: 400;
    margin-bottom: 3rem;
}


.btn{
    background-color: rgb(230, 83, 60);
    border-radius:2.6rem ;
    font-weight: 600;
    font-size: 1.125rem;
    padding: 1rem 5rem 1rem 5rem;
    cursor: pointer;
}

.section-run-img-container{
    width: 40%;
    height: 100%;
}

.section-run-img{
    width: 100%;
    border-radius: 3rem;
}

/* run styles ends here */



/* meet styles starts here */




/* meet styles ends here */


/* footer styles  */




/* footer style ends here */

/* responsive styles */

@media screen and (max-width:576px){

    .nav-hamburger{
        display: block;
    }
    
     .navbar-container > .navbar-menus{
        display: none;
    }

    .banner-section,
    .section-run-container{
        flex-direction: column;
    }

    .banner-section-container{
        width: 100%;
    }


    .btn-primary {
        display: flex;
    }

    .section-change-img-container{
        grid-template-columns: 1fr;
        width: 100%;
        gap: 0.5rem;
       
    }

    .section-run-container{
        text-align: left;
    }

    .btn{
        width: 100%;
        margin-bottom: 4rem;
    }

    .section-run-img-container{
        width: 100%;
    }

    .section-run-img{
        width:100%;
    }


}
