/* font-style */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@import url('https://fonts.cdnfonts.com/css/miama');


/* universal styles */

body{
    
    font-family: "Inter", sans-serif;
    background-color:black;
    color: white;
    width: 100%;
}


.btn-primary .btn-1, .btn-2, .btn,
.price-container>.btn-1{
    padding: 1rem 2.5rem 1rem 2.5rem;
    border-radius: 3rem;
    border: none;
    margin: 0 0.9rem;
    color: white;
    cursor: pointer;
}

/* font styles universal */
.section-change-description,
.section-run-description,
.section-bmi-description,
.section-bmi-description-1,
.section-meet-description,
.section-price-description,
.footer-description,
.footer-description-1{
    font-size: 0.9rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}


/* navbar styles */
.navbar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 80%;
    margin: 0 auto;
    margin-top: 3.5rem;
}

.brand-title{
    color: rgb(230, 83, 60);
    font-weight: 800;
    font-size: 2.3rem;
}

.navbar-menus{
    display: flex;
    text-align:left ;
    width: 40%;
    gap: 5rem;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius:2.5rem;
    padding: 0.3rem;
    font-size: 1.125rem;
    font-weight: 400;
    cursor: pointer;
   
}
#option-1{
    background-color: rgb(230, 83, 60);
    border-radius:2.5rem ;
    padding: 1.3rem 1.7rem 1.3rem 1.7rem;
    font-weight: 600;
}

.nav-hamburger{
    display: none;
}

/* banner section styles */

.banner-section{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 8rem;
    background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0.158)100% );
    
}
.banner-section-container{
    width: 60%;
}


.banner-title{
    font-weight: 900;
    font-size: 5rem;
    
}

#span{
    font-family: 'Miama', sans-serif;
    font-weight: 400;
    font-size: 8rem;
       
}

.banner-description{
    font-size: 1rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 3rem;
}


.banner-title .break {
    display: block;
}



.banner-description .break{
    display: block;
}

.btn-primary .btn-1{
    background-color: rgb(230, 83, 60);

}

 .btn-primary .btn-2{
    background-color: black;
    color: white;
    box-sizing:border-box ;
    border: 1px solid white ;
   
}

.banner-section >.btn-primary{
    font-size: 0.9rem;
    font-weight: 600;
}


.banner-img-container .container-1, .container-2{
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 0.75rem;
    backdrop-filter: blur(20px);
    padding: 0 0 0 1rem;
}

.banner-img-container .container-1{
    width: 45%;
    background-color: rgba(255, 255, 255, 0.1);
}

.banner-img-container .container-2{
    width: 45%;
    background-color: rgba(48, 48, 48, 0.54);
    
}

.container-1 .number{
    font-size: 2rem;
    font-weight:900;

}

.container-1 .video{
    font-size: 0.8rem;
    font-weight: 400;
    color:(255, 255, 255, 0.65);

}

.container-2 .number{
    color: rgb(250, 250, 249);
      font-size: 1.5rem;
      font-weight: 900;
      

}

.container-2 .video{
    color: rgba(239, 237, 232, 0.65);
    font-size:1rem;
    font-weight: 400;


}
.banner-img-container{
    position:relative
}

.container-1 {
    position: absolute;
    top: 0.5rem;
    right:1rem;
    transform: translateY( 50%);
}

.container-2{
    position: absolute;
    bottom: 0.5rem;
    left: 1rem;
    transform: translateY(-100%);
}

.number .icon{
    color: rgb(230, 83, 60);
}

/* banner styles ends here */

/* change styles start here */

.section-change-container{
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.section-change-title{
    font-size: 3.5rem;
    font-weight: 900;
    margin-bottom: 1rem;
}

.section-change-subtitle{
    font-size: 1,125rem;
    font-weight: 600;
}

.section-change-description{
    margin-bottom: 4rem;
}


.section-change-img-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.images-section-2{
    border-radius: 5.5rem;
}

/* change styles ends here */

/*run styles starts here */
.section-run-container{
    background-color:rgb(34,34,34);
    border-radius: 1.125rem;
    width: 75%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5rem;
    
}

.section-run-title{
    font-size: 3.5rem;
    font-weight: 900;
    
}

.section-run-title .break ,.section-run-description .break{
    display:block;
}

.section-run-description{
    margin-bottom: 3rem;
}


.btn{
    background-color: rgb(230, 83, 60);
    border-radius:2.6rem ;
    font-weight: 600;
    font-size: 1.125rem;
    padding: 1rem 5rem 1rem 5rem;
    cursor: pointer;
}

.section-run-img-container{
    width: 50%;
}

.section-run-img{
    width: 100%;
    object-position: 66% 33%;
    object-fit: none;
    border-radius: 3rem;
}

/* run styles ends here */

/* BMI styles starts here */

.section-bmi-calc{
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    margin-top: 5rem;
   
}
.section-bmi-title{
    font-size: 3rem;
    font-weight: 900;
}

.section-bmi-description{
    margin-bottom: 4rem;
}

.section-bmi-content{
    width:100%;
    margin: 0 auto;
    background: rgb(34, 34, 34);
}

.bmi-container{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.bmi-chart{
   width: 30%;
   height: 25rem;
   margin-left: 15rem;
}

.section-bmi-subtitle{
    font-size: 1.75rem;
    font-weight: 900;
    margin-bottom: 2rem;
}

table{
    width:90%;
    height:15rem;
}

table td,th{
    padding-left: 1rem;
}

th{
    font-size: 1rem;
    font-weight: 500;
    text-align: left;
}

td{
    font-size: 0.9rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}

table, th,td{
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-collapse: collapse;
    
}


.bmi-input{
    width:40%;
    margin-top:2.5rem;
}



.section-bmi-description-1{
    margin-bottom: 2rem;
}

 .height ,.weight{
    border-radius:8px;
    background-color: rgba(255, 255, 255, 0.1);
    font-size:1rem ;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.6);
    border: none;
    padding: 1rem 2.5rem 1rem 1.25rem;
    margin-bottom:1rem;
    margin-right: 0.5rem;
}


.age{
    padding: 1rem 2.5rem 1rem 1.25rem;
}


.sex,.age{
    border-radius:8px;
    background-color: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.6);
    font-size:1rem ;
    font-weight: 400;
    border: none;
    margin-right: 0.5rem;
    margin-bottom:1rem;
}

.sex{
    width: 43%;
    padding: 1rem 1.25rem 1rem 1.25rem;
}

#arrow{
    color: rgba(255, 255, 255, 0.3);

}


.factor{
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.6);
    font-size:1rem ;
    font-weight: 400;
    border: none;
    padding: 1rem 1.25rem 1rem 1.25rem ;
    width: 88%;
    margin-bottom: 1rem;

}




.bmi-input> .btn-1{
    background-color: rgb(230, 83, 60);
    border-radius: 2.625rem;
    padding: 1.2rem 4rem 1.2rem 4rem;
    font-size: 1.125rem;
    font-weight: 600;
    color: white;
    margin-bottom: 4rem;
    border:none ;
    cursor: pointer;
}

/* Bmi styles end here */

/* meet styles starts here */

.section-meet-container{
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    margin-top: 3rem;
}


.section-meet-title{
    font-size: 3.5rem;
    font-weight: 900;

}


.section-meet-description{
    margin-bottom: 3rem;

}
.section-meet-container .section-meet-img-container{
    width: 100%;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 1.125rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: space-around;
}

 .section-meet-img{
    position: relative;
    text-align: center;
    padding: 1rem ;
    background-color: rgba(0, 0, 0, 0.2);
}


.section-meet-img .meet-img{
    border-radius: 1.125rem;
    width: 100%;

}


.section-meet-img .h1{
    position:absolute;
    bottom: 2rem;
    left: 1.75rem;

}

.section-meet-img .h3{
    position:absolute;
    bottom: 0.75rem;
    left: 1.75rem;
    opacity: 0.3;
}



/* meet styles ends here */


/*price styles starts here */
.section-price-container{
    width: 80%;
    margin: 0 auto;
    margin-top: 5rem;
    margin-bottom: 5rem;
    text-align: center;
    justify-content: space-between;
    align-items: center;
}

.section-price-title{
    font-size: 3.5rem;
    font-weight:900;
}

.section-price-description{
    margin-bottom: 3rem;
}

.section-price-2{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items:center ;
}

.grid-card{
    box-sizing: border-box;
    background-color: rgb(34, 34, 34);
    border-radius: 1.25rem;
    width: 30%;
    height: 700px;
    padding: 2rem 2rem 1rem;
    text-align: left;
    margin: 1rem 1rem;
    transition: 0.3s;
    margin-bottom: 2rem;
}

.grid-card:hover{
    border: 3px solid;
    border-color: rgb(230, 83, 60);
}

.card-subtitle{
    font-size: 2.5rem;
    font-weight: 600;
}

.card-description{
    font-size: 1.3rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.7);
}

.card-1>.card-description{
    padding: 1.7rem;
}

.card-2>.card-description{
    padding: 1.7rem;
}

.card-3>.card-description{
    padding: 0.25rem;
}

.card-price{
    font-size: 2rem;
    font-weight: 600;
}

.price-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.price-container>.btn-1{
    background-color: rgb(230, 83, 60);
    transition: 0.3s;
    cursor: pointer;
}

.price-container>.btn-1:hover{
background-color: rgb(182, 182, 178);
color: rgb(17, 17, 17);
}


.card-1  hr, 
.card-2 hr,
.card-3 hr{
    width:100%;
    background-color: rgba(204, 204, 204, 0.3);
}


.card-description i{
    background-color:black;
    color: rgb(235, 126, 86);
    border: none;
}

/* price styles ends here */

/* footer styles  */
.footer-container{
    width: 100%;
    background-color:rgba(255, 255, 255, 0.1) ;
    margin-top: 5rem;
    margin-bottom: 8rem;
    text-align: center;
    padding: 1rem 0;
    margin: 1rem 0;
}

.footer-1 {
    width: 70%;
    margin:0 auto ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    
}   
    
.footer-title{
    color:rgb(230, 83, 60); ;
    font-size: 4.4rem;
    font-weight:800 ;
}


.footer-description-1{
    margin-bottom: 8rem;
}

.footer-description{
    margin-bottom: 1.5rem;
}

.footer-subtitle{
    font-size: 2rem;
    font-family: 700;
}

hr{
   width: 65%;
    margin: 0 auto;
    border: 2px solid rgba(255, 255, 255, 0.1);
}

.footer-2{
    margin-bottom: 1rem;
    font-size: 1.25rem;
    font-weight: 400;
}


/* footer style ends here */

/* responsive styles */

@media screen and (max-width:576px){

    .navbar-container{
        margin:1.5rem;
    }
    .banner-section-container{
        width: 100%;
      margin:1rem auto;
    }

    .nav-hamburger{
        display: block;
    }
    
     .navbar-container > .navbar-menus{
        display: none;
    }


    .btn-1,.btn-2{
        padding: 0.5rem 1.25rem;
    }


    .banner-section{
        margin-bottom: 3rem;
    }

    .banner-title .break,
    .banner-description .break,
    .section-run-title .break ,
    .section-run-description .break {
        display: inline;
    }

    .banner-section,
    .section-run-container,
    .section-price-2,
    .footer-1{
        flex-direction: column;
        justify-content: flex-start;
        
    }

    /* font styles */
    .banner-title,
    .footer-title{
        font-size: 3rem;
    }

    .section-change-title,
    .section-run-title,
    .section-meet-title,
    .section-bmi-title,
    .section-price-title{
        font-size: 2rem;
    }

    .section-bmi-subtitle,
    .section-change-subtitle,
    .card-subtitle,
    .card-price,
    .footer-subtitle{
        font-size: 1.5rem;
    }


    .banner-section,
    .section-change-container,
    .section-bmi-calc,
    .section-meet-container{
        width: 90%;
    }

    .btn-primary{
        display: flex;
    }

    .section-change-img-container,
    .section-meet-container .section-meet-img-container{
        grid-template-columns: 1fr;
        width: 100%;
        gap: 0.5rem;
       
    }

    .section-meet-container{
        margin: 0 auto;
    }


    .section-change-title,
    .banner-img-container{
        margin: 0;
    }

    .section-run-container{
        margin: 0 auto;
        padding: 2rem 2rem 2rem 2rem;
    }

    .section-run-img-container{
        width: 100%;
        padding: 0;
    }
    .section-run-img{
        object-fit:cover ;
    }

    .section-meet-img{
        padding: 0;
    }

    .section-meet-img .h1{
        bottom: 1.75rem;
        left:1.75rem ;
    }
    .section-meet-img .h3{
        bottom: 0.5rem;
        left: 1.75rem;
    }

    .btn{
        width: 100%;
        margin-bottom: 1.5rem;
    }


    .bmi-container{
        flex-direction: column;
        justify-content:center;
        align-items: center;
        width: 100%;

    }


    .bmi-chart, .bmi-input{
        margin: 0;
        padding: 0;
        width: 90%;
    }

   
    #Height,#Age{
        display: flex;
        width: 95%; 
    }
    
    .weight,.height{
        width: 100%;
    }

    .age{
        width:80% ;
    }


    .sex{
        width: 100%;
    }

    .factor{
        width: 93%;
    }

    .bmi-input >.btn-1{
       padding: 1rem 3rem 1rem 3rem; 
       border: none;
    }

    .section-meet-container{
        width: 90%;
    }

    .section-meet-content{
        width: 95%;
    }

    .section-meet-container .section-meet-img-container{
        width:98%;
        margin: 0;
    }
    .section-meet-img-container>.section-meet-img{
        width: 100%;
    }

    .section-price-container{
        width: 90%;
    }

    .grid-card{
        width: 100%;
    }

    .card-1>.price-container,.card-2 >.price-container {
        margin-top: 3rem;
    }



   
    .footer-container, .footer-2{
    text-align: left;
    justify-content:space-around;
    align-items:flex-start;
    width: 100%;
    }


    .footer-1{
        text-align: left;
        justify-content:space-around;
        align-items:flex-start;
    }

    .footer-title{
        margin: 0.5rem;
    }

   .footer-2 hr{
        width: 90%;
    }

    .footer-1 , .footer-description-1{
        margin-bottom: 3rem;

    }

    .footer-2> .footer-description,.footer-1{
        margin-left: 2rem ;
    }

    .footer-description{
        font-size: 1.45rem;
    }

    .footer-2 .footer-description{
        font-size: 1.25rem;
    }

    .footer-2{
        margin-top: 6rem;
    }
}
