/* font-style */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


/* universal styles */
body{
    
    font-family: "Inter", sans-serif;
    background-color:black;
}



/* navbar styles */
.navbar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 80%;
    margin: 0 auto;
    margin-top: 3.5rem;
}

.brand-title{
    color: rgb(230, 83, 60);
    font-weight: 800;
    font-size: 2.3rem;
}

.navbar-menus{
    display: flex;
    text-align:left ;
    width: 40%;
    gap: 5rem;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius:2.5rem;
    padding: 0.3rem;
    color: white;
    font-size: 1.125rem;
    font-weight: 400;
    cursor: pointer;
    /* border: 1px solid red; */
   
}
#option-1{
    background-color: rgb(230, 83, 60);
    border-radius:2.5rem ;
    padding: 1.3rem 1.7rem 1.3rem 1.7rem;
    font-weight: 600;
}

.nav-hamburger{
    display: none;
    color: white;
}



@media screen and (max-width:576px){

    .nav-hamburger{
        display: block;
    }
    
     .navbar-container > .navbar-menus{
        display: none;
    }
}
